numpy==1.26.4
peft==0.10
torch==2.4.1+cu118
transformers==4.51.1
# Python 3.10.15
# Microsoft Windows [version 10.0.19045.4291]
# nvidia-smi ->
#  +-----------------------------------------------------------------------------+
#  | NVIDIA-SMI 516.94       Driver Version: 516.94       CUDA Version: 11.7     |
#  |-------------------------------+----------------------+----------------------+
#  | GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
#  | Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
#  |                               |                      |               MIG M. |
#  |===============================+======================+======================|
#  |   0  Quadro RTX 5000    WDDM  | 00000000:3B:00.0 Off |                  Off |
#  | 36%   29C    P8     6W / 230W |    547MiB / 16384MiB |      0%      Default |
#  |                               |                      |                  N/A |
#  +-------------------------------+----------------------+----------------------+
#  |   1  Quadro RTX 5000    WDDM  | 00000000:86:00.0 Off |                  Off |
#  | 33%   29C    P8     7W / 230W |     31MiB / 16384MiB |      0%      Default |
#  |                               |                      |                  N/A |
#  +-------------------------------+----------------------+----------------------+
